html, body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-header {
  line-height: 60px;

  & .el-col:nth-of-type(2) {
    text-align: right;
  }
}

.list-wishlist {
  .list-wishlist-item-extern {
    //padding-top: 10px;
    //padding-bottom: 10px;
    height: 100%;

    .el-card {
      height: 100%;

      .el-card__body {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        .row-name {
          padding: 0 20px;
        }

        .row-bottom {
          flex-grow: 1;
          padding: 0 20px 20px;

          & > .el-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }

          .row-gift-for, .row-price-range {
            padding-bottom: 10px;
          }

          .col-info {
            display: flex;
            //align-items: flex-end;
          }

          .col-button {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
